<%

function getIngredientsArray(pizza) {
    //Отримує вміст піци
    var content = pizza.content;
    var result = [];

    //Object.keys повертає масив ключів в об’єкті JavaScript

    Object.keys(content).forEach(function(key){

        //a.concat(b) створює спільний масив із масивів a та b
        result = result.concat(content[key]);
    });

    return result;
}
%>


    <div class="col-md-6 col-lg-4 pizza-card">
        <div class="thumbnail">
            <img class="pizza-icon" src="<%= pizza.icon %>" alt="Pizza">
                <% if(pizza.is_new) { %>
                    <span class="label label-danger">Нова</span>
                <% } else if(pizza.is_popular) {%>
                    <span class="label label-success">Популярна</span>
                <% } %>
            <div class="caption">
                <span class="title"><%= pizza.title %></span>
                    <div class="type"><%= pizza.type %></div>
                    <div class="description"><%= getIngredientsArray(pizza).join(", ") %></div>
                    <!-- Перед тим щоб показати кнопку необхідно переконатися, що піца має великий розмір -->
                    <div class="row"> </div>
                <% if(pizza.big_size && pizza.small_size){ %> 
                    <div class="col-md-6 info">
                        <div class="icons">
                            <div class="size">
                                <img src="assets/images/size-icon.svg"><%= pizza.small_size.size %>
                            </div>
                            <div class="weight">
                                <img src="assets/images/weight.svg"><%= pizza.small_size.weight %>
                            </div>
                        </div>  
                        <h2>
                            <div class="small-price price"><%= pizza.small_size.price %> 
                                <div class="uah">грн.</div>
                            </div>
                        </h2>
                        <button class="btn btn-warning buy-small">Купити</button>
                    </div>
                    <div class="col-md-6 info">
                        <div class="icons">
                            <div class="size">
                                <img src="assets/images/size-icon.svg"><%= pizza.big_size.size %>
                            </div>
                            <div class="weight">
                                <img src="assets/images/weight.svg"><%= pizza.big_size.weight %>
                            </div>
                        </div>
                        <h2>
                            <div class="small-price price"><%= pizza.big_size.price %> 
                                <div class="uah">грн.</div>
                            </div>
                        </h2>
                        <button class="btn btn-warning buy-big">Купити</button>
                    </div>
            </div>
            <% } else if(pizza.big_size){ %>  
                <div class="col-md-12 info">
                    <div class="icons">
                        <div class="size">
                            <img src="assets/images/size-icon.svg"><%= pizza.big_size.size %>
                        </div>
                        <div class="weight">
                            <img src="assets/images/weight.svg"><%= pizza.big_size.weight %>
                        </div>
                    </div>
                    <h2>
                        <div class="small-price price"><%= pizza.big_size.price %><div class="uah">грн.</div>
                        </div>
                    </h2>
                    <button class="btn btn-warning">Купити</button>
                </div>
  
            <% } else if(pizza.small_size){ %>  
                <div class="col-md-12 info">
                    <div class="icons">
                        <div class="size">
                            <img src="assets/images/size-icon.svg"><%= pizza.small_size.size %>
                        </div>
                        <div class="weight">
                            <img src="assets/images/weight.svg"><%= pizza.small_size.weight %>
                        </div>
                    </div>
                    <h2>
                        <div class="small-price price"><%= pizza.small_size.price %><div class="uah">грн.</div>
                        </div>
                    </h2>
                    <button class="btn btn-warning">Купити</button>
                </div>
            <% } %>   
        </div>
    </div>
